/*index-main*/
body {
    margin: 0%;
    padding: 0%;
    padding-top: 50px;
}

/*heading*/
.hd-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(./assets/images/background_forest.jpg);
    background-size: cover;
    /*size of cover image*/
    height: 70vh;
}

.hd-content > h1 {
    color: white;
    font-size: 5em;
}

/*content*/
#rhinoceros {
    border-radius: 10%;
}

#content {
    background-color: #013927;
}

/*page-8*/
#leatherback_turtle {
    background-color: #1d273e;
    padding: 5% 10% 5% 10%; 
}

.leatherback {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.turtle {
    border-radius: 30px;
}

.first {
    line-height: 25px;
    text-align: center;
}

.second {
    font-size: 20px;
    font-weight: 300;
    line-height: 30px;
    color: #C8C6C6;
}

.second > h5 {
    color: white;
}

.circle-text {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.circle-with-text {
    background-color: #cc4e00;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle-with-text > p {
    font-size: 1.5em;
    margin: 0%;
}

/*page-9*/
.yellow {
    background-color: #bc9c22;
}

#whale_shark {
    background-color: #54607a;
    padding: 5% 10%;
}

/*page-7*/
#sarus_crane {
    background-color: #2b5d29;
    padding: 5% 10%;
}

.green {
    background-color: #59a928;
}

#white-eyed_river_martin {
    background-color: #013927;
    padding: 5% 10%;
}

#helmeted_hornbill {
    background-color: #2b5d29;
    padding: 5% 10%;
}

#gurney_pitta {
    background-color: #013927;
    padding: 5% 10%;
}

/*page-5*/
#sumatran_rhinoceros {
    background-color: #013927;
    padding: 5% 10%;
}

.red {
    background-color: #cc0000;
}

#burmese_goral {
    background-color: #2b5d29;
    padding: 5% 10%;
}

#kouprey {
    background-color: #013927;
    padding: 5% 10%;
}

#fea_muntjac {
    background-color: #2b5d29;
    padding: 5% 10%;
}

#wild_water_buffalo {
    background-color: #013927;
    padding: 5% 10%;
}

#dugong {
    background-color: #2b5d29;
    padding: 5% 10%;
}

#marbled_cat {
    background-color: #013927;
    padding: 5% 10%;
}

#javan_rhinoceros {
    background-color: #2b5d29;
    padding: 5% 10%;
}

#brow-antlered_deer {
    background-color: #013927;
    padding: 5% 10%;
}

#sumatran_serow {
    background-color: #2b5d29;
    padding: 5% 10%;
}

.blue {
    background-color: #1d273e;
}