/*index-main*/
body {
    margin: 0%;
    padding: 0%;
    padding-top: 50px;
}

/*heading*/
.hd-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(./assets/images/background_forest.jpg);
    background-size: cover;
    /*size of cover image*/
    height: 70vh;
}

.hd-content > h1 {
    color: white;
    font-size: 5em;
}

/*content*/
#rhinoceros {
    border-radius: 10%;
}

/*page-8*/
.leatherback {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.turtle {
    border-radius: 30px;
}

.first {
    line-height: 25px;
    text-align: center;
}

.second {
    font-size: 1.5em;
    font-weight: 300;
    line-height: 30px;
    color: #C8C6C6;
}

.second > h5 {
    color: white;
}

.circle-text {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.circle-with-text {
    background-color: #cc4e00;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle-with-text > p {
    font-size: 1.5em;
    margin: 0%;
}

/*page-9*/
.yellow {
    background-color: #bc9c22;
}

/*page-7*/
#dark_green {
    background-color: #013927;
    padding: 5% 10%;
}

#light_green {
    background-color: #2b5d29;
    padding: 5% 10%;
}

.green {
    background-color: #59a928;
}

/*page-5*/
.red {
    background-color: #cc0000;
}

.blue {
    background-color: #1d273e;
}

/*button to next page*/
.golden {
    background-color: #bc9c22;
}

.white {
    background-color: #ffffff;
}

.button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-top: 2.5%;
    padding-left: 5%;
    
}

.one, .two{
    text-decoration: none;
    font-size: 1.5em;
    font-weight: bold;
    color: black;
    transition: background-color 0.3s;
}

.two:hover {
    background-color: #ff6caa;
}

.arrow {
    font-size: 3em;
    text-decoration: none;
    color: black;
}

.arrow:hover {
    color: #ffffff;
    cursor: pointer;
}

/*page-6*/
.previous-one, .previous-two {
    text-decoration: none;
    font-size: 1.5em;
    font-weight: bold;
    color: black;
    transition: background-color 0.3s;  
}

.previous-one:hover {
    background-color: #ff6caa;
}

.previous {
    padding-right: 5%;
}

#dark_blue {
    background-color: #1d273e;
    padding: 5% 10%;
}

#light_gray {
    background-color: #54607a;
    padding: 5% 10%;
}

/*page-10*/
.foundation {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5em;
    padding-top: 4em;
    padding-bottom: 2em;
}

.picture-one {
    background-color: #ffffff;
    height: 200px;
    width: 200px;
    padding: 15px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.picture-one img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.picture-two {
    background-color: #cae6d5;
    height: 200px;
    width: auto;
    padding: 15px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.picture-two img {
    height: 100%;
    width: auto;
    object-fit: contain;
}

.picture-three {
    height: 200px;
    width: 200px;
    border-radius: 10%;
    overflow: hidden;
}

.picture-three img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.logo-one {
    background-color: #ffffff;
    height: 100px;
    width: 100px;
    padding: 7px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-two {
    background-color: #cae6d5;
    height: 80px;
    width: auto;
    padding: 8px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-three {
    height: 100px;
    width: 100px;
    border-radius: 10%;
    overflow: hidden;
}

.WFT {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.map {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 60px;
}

/*page-3*/
.middle {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 100px;
    margin-top: 5%;
}

/*page-2*/
.meaning {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5%;
}

.meaning-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.meaning-text > h1 {
    margin-bottom: 5%;
    color: white;
}

.image-one {
    border-radius: 10%;
}

.Subject > span {
    color: white;
    font-size: 30px;
}

/*page-1*/
.measure {
    text-align: center;
    color: white;
    font-size: 2.5em;
    font-weight: bold;
    margin-bottom: 5%;
}

/*card*/
.container{
    width: 1200px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-gap: 15px;
    margin: 0 auto;
  }
  
.card {
    position: relative;
    width: 300px;
    height: 400px;
    margin: 0 auto;
    background: #fff;
    box-shadow: 0 15px 60px rgba(0,0,0, .5);
    border-radius: 15px;
  }
  
.card .face {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
.card .face.face1 {
    box-sizing: border-box;
    padding: 20px;
  }
  
.card .face.face1 h2 {
    margin: 0;
    padding: 0;
  }
  
.card .face.face1 .content {
    font-size:1.2em;
    margin:0;
    padding:0 0 1em 0;
    font-weight:500;
  }
  
.card .face.face2 {
    background: #111;
    transition: 0.5s;
  }
  
.card:nth-child(1) .face.face2 {
    background: linear-gradient(45deg, #8A784E, #2C3930);
    border-radius: 15px;
  }
  
.card:nth-child(2) .face.face2 {
    background: linear-gradient(45deg, #1d273e, #54607a );
    border-radius: 15px;
  }
  
.card:nth-child(3) .face.face2 {
    background: linear-gradient(45deg, #013927, #2b5d29);
    border-radius: 15px;
  }

.card:nth-child(4) .face.face2 {
    background: linear-gradient(45deg, #1d273e, #54607a);
    border-radius: 15px;
  }
  
.card:nth-child(5) .face.face2 {
    background: linear-gradient(45deg, #013927, #2b5d29);
    border-radius: 15px;
  }

.card:nth-child(6) .face.face2 {
    background: linear-gradient(45deg, #8A784E, #2C3930);
    border-radius: 15px;
  }

.card:hover .face.face2 {
    height: 60px;
    border-radius: 0 0 15px 15px;
  }
  
.card .face.face2:before {
    content:'';
    position: absolute;
    top:0;
    left:0;
    width: 50%;
    height: 100%;
    background: rgba(255,255,255, 0.1);
    border-radius: 15px 0 0 15px;
  }
  
.card .face.face2 h2 {
    margin: 0;
    padding: 0;
    font-size: 10em;
    color: #fff;
    transition: 0.5s;
    text-shadow: 0 2px 5px rgba(0,0,0, .2);
  }
  
.card:hover .face.face2 h2 {
    font-size: 2em;
  }

.blam {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5em;
}

.white-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.white-box {
    background-color: white;
    width: 1200px;
    height: auto;
    
}

.white-box > p {
    font-size: 1.5em;
    padding: 3%;
    margin-bottom: 0%;
}

span {
    font-weight: bold;
    color: #013927;
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5em;
}

.detailed {
    color: white;
    font-size: 25px;
}

/*page-12*/

/*member card*/
.contact {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 40px;
}

.container .card .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #70B2B2;
}

.container .card .icon .fa {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 80px;
    color: #fff;

}

.container .card .slide {
    width: 100%;
    height: 200px;
    transition: 0.5s;
}

.container .card .slide.slide1 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transition: .7s;
    transform: translateY(100px);
}

.container .card:hover .slide.slide1{
    transform: translateY(0px);
}

.container .card .slide.slide2 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    transition: .8s;
    transform: translateY(-100px);
    box-shadow: 0 20px 40px rgba(0,0,0,0.4);
}

.container .card:hover .slide.slide2{
    transform: translateY(0);
}

.container .card .slide.slide2::after{
    content: "";
    position: absolute;
    width: 30px;
    height: 4px;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    background: #70B2B2;
}

.container .card .slide.slide2 .content p {
    margin: 0;
    padding: 0;
    text-align: center;
    color: #414141;
}

.container .card .slide.slide2 .content h3 {
    margin: 0 0 10px 0;
    padding: 0;
    font-size: 24px;
    text-align: center; 
    color: #414141;
} 

.student {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    object-fit: cover;
}